In [ ]:
#pd.read_excel() reads all excel files, and sheet_name=None reads all multiple sheets in the excel file
#the data is categoried or separated into various months of the year 2020
data=pd.read_excel("/content/sample_data/Data.xlsx",sheet_name=None)
data['January 2020']

,January(2020),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,DATE,Temperature,Min. Temperature (Degrees Celcius),Rainfall (mm),Humidity (% for 9:00 AM),Humidity (% for 3:00 PM),Wind Speed (in Knots for 9:00AM),Wind Direction (Degree True North for 9:00AM),Wind Speed (in Knots for 3:00PM),Wind Direction (Degree True North for 3:00PM)
1,2020-01-01 00:00:00,29.3,16.6,NIL,64,42,3,20,8,90
2,2020-01-02 00:00:00,30,17.5,NIL,66,41,5,70,12,110
3,2020-01-03 00:00:00,30.6,17.8,NIL,60,40,4,50,10,70
4,2020-01-04 00:00:00,30.2,19.3,NIL,49,38,8,20,4,90
5,2020-01-05 00:00:00,28.5,18.3,NIL,57,40,6,320,2,320
6,2020-01-06 00:00:00,29.3,16.2,NIL,60,37,8,320,7,20
7,2020-01-07 00:00:00,29,17.1,NIL,61,43,4,50,7,110
8,2020-01-08 00:00:00,29,17,NIL,72,42,4,20,4,20
9,2020-01-09 00:00:00,28.2,17.6,NIL,55,42,7,20,6,50
10,2020-01-10 00:00:00,31,16.5,NIL,43,39,6,340,8,320
11,2020-01-11 00:00:00,30.9,14,NIL,43,28,8,320,5,270
12,2020-01-12 00:00:00,29.2,13.9,NIL,47,22,6,320,3,320
13,2020-01-13 00:00:00,29,13.2,NIL,45,25,6,270,5,290
14,2020-01-14 00:00:00,30.4,14,NIL,54,26,2,290,8,140
15,2020-01-15 00:00:00,30.6,15.7,NIL,57,37,3,270,6,140
16,2020-01-16 00:00:00,32.4,18.5,NIL,59,29,6,140,12,90
17,2020-01-17 00:00:00,32.6,17.4,NIL,68,31,6,110,11,340
18,2020-01-18 00:00:00,31.3,19,NIL,89,35,6,270,8,270
19,2020-01-19 00:00:00,28,16,NIL,89,44,6,250,7,340
20,2020-01-20 00:00:00,30,14.5,NIL,70,30,4,270,2,110
21,2020-01-21 00:00:00,31.2,15.6,NIL,54,28,5,270,5,270
22,2020-01-22 00:00:00,31.5,14.6,NIL,34,25,2,290,8,340
23,2020-01-23 00:00:00,29.5,14.1,NIL,50,23,5,340,7,20
24,2020-01-24 00:00:00,29.8,14.1,NIL,30,24,4,340,7,90
25,2020-01-25 00:00:00,30.5,14.5,NIL,47,29,6,370,5,20
26,2020-01-26 00:00:00,30.8,16.6,NIL,31,29,4,250,4,110
27,2020-01-27 00:00:00,30.2,17.5,TR,47,30,7,110,8,340
28,2020-01-28 00:00:00,28,18.4,NIL,37,25,4,90,6,320
29,2020-01-29 00:00:00,28.5,18,NIL,80,30,8,160,4,90
30,2020-01-30 00:00:00,29.5,17.5,2.7,74,42,4,140,8,110
31,2020-01-31 00:00:00,23.3,17.6,0.1,90,65,5,140,6,110
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Keys,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,TR,NaN,Rainfall amount less than 0.1millimeter,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,1 METRE PER SECOND,NaN,2 KNOTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NORTH (N),NaN,360,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,SOUTH (S),NaN,180,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,EAST (E),NaN,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,WEST,NaN,270,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NORTH EAST (NE),NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,SOUTH EAST (SE),NaN,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NORTH WEST (NW),NaN,320,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,SOUTH WEST (SW),NaN,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NORTH NORTH EAST (NNE),NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,SOUTH SOUTH EAST (SSE),NaN,160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NORTH NORTH WEST (NNW),NaN,340,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,SOUTH SOUTH WEST (SSW),NaN,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,EAST NORTH EAST (ENE),NaN,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,EAST SOUTH EAST (ESE),NaN,110,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,WEST NORTH WEST (WNW),NaN,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,WEST SOUTH WEST (WSW),NaN,250,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd
# !pip install pyarrow
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import seaborn as sns

In [ ]:
#Jonas Code to prepare data from Uganda 2020

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import seaborn as sns

#Only use to remove first line from CSV files
def prepareData(directory):
    fileNames = getFileNames(directory) 
    for file in fileNames:
        with open(file, 'r') as input:
            data = input.readlines()
        with open(file, 'w') as output:
            output.writelines(data[1:])
    return fileNames

#Get list of filenames in a directory
def getFileNames(directory):
    fileNames = os.listdir(directory)
    for i in range(len(fileNames)):
        fileNames[i] = directory+fileNames[i]  
    return fileNames

#Create list of dataFrames from files in name list
def getDataFrames(fileNames):
    dataframes = []
    for file in fileNames:
        df = pd.read_csv(file,sep=";")
        dataframes.append(df)
    return dataframes

# fileNames = getFileNames("../data/Ugandan Data 2020/")

# Was reading the Ugandan data
fileNames = getFileNames("/content/sample_data/") 
dfList = getDataFrames(fileNames)

#Combine dataframes for all months into a single dataframe
frame = pd.concat(dfList, axis=0, ignore_index=True)

ParserError: ignored